:root {
  --max-width: 630px;
  --padding: 30px;
  --padding-sm: 15px;
  --white: white;
  --black: #242644;
  --salmon: #ff6e6a;
  --salmon-dark: #d14f56;
  --salmon-darker: #aa3c41;
  --light-gray: #f2eff8;
  --border-radius-sm: 10px;
  --border-radius-lg: 35px;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
  min-height: 100%;
}

body {
  background-color: var(--light-gray);
  min-height: 100vh;
}

a {
  color: rgb(70, 140, 225);
}

.wrapper {
  max-width: var(--max-width);
  margin: 0 var(--padding);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.text-lg {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: bold;
}

.external_link:after {
  content: "⤤";
  border-radius: 100%;
  margin-left: 0.25rem;
}

button {
  background-color: var(--white);
  color: var(--black);
  border: 1px solid var(--light-gray);
  border-radius: var(--border-radius-sm);
  cursor: pointer;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: bold;
  padding: var(--padding-sm) var(--padding);
  margin: var(--padding-sm) var(--padding);
}

.button--volume {
  border: 0;
  border-style: solid;
  border-bottom-width: 5px;
  border-color: var(--salmon-dark);
  background-color: var(--salmon);
  padding: 10px 30px;
  font-size: 1.2rem;
  color: var(--white);
  text-transform: uppercase;
  transition: background-color 0.25s, color 0.25s;
}

.button--volume:hover {
  background-color: var(--salmon-dark);
  border-color: var(--salmon-darker);
}

.button--volume:active {
  border-bottom: 0;
  border-top-width: 5px;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.modal-card {
  background-color: var(--white);
  color: var(--black);
  padding: var(--padding);
  border-radius: var(--border-radius-lg);
	box-shadow: 5px 15px 58px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 5px 15px 58px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 5px 15px 58px rgba(0, 0, 0, 0.3);
}

@media screen and (min-width: 690px) {
  .wrapper {
    margin: 0 auto;
  }
}
