:root {
  --max-width: 630px;
  --padding: 30px;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
  min-height: 100%;
}

body {
  background-color: rgb(245, 239, 232);
  min-height: 100vh;
}

a {
  color: rgb(70, 140, 225);
}

.wrapper {
  max-width: var(--max-width);
  margin: 0 var(--padding);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.external_link:after {
  content: "⤤";
  border-radius: 100%;
  margin-left: 0.25rem;
}

button {
  border: 0;
  border-radius: 6px;
  background-color: white;
  padding: 5px 20px;
  font-size: 1.2rem;
  cursor: pointer;
  text-transform: uppercase;
  transition: background-color 0.25s, color 0.25s;
}

button:hover {
  background-color: #cdedff;
}

@media screen and (min-width: 690px) {
  .wrapper {
    margin: 0 auto;
  }
}
